.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: dimgray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Bank {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 10px;
  row-gap: 15px;
  width: 85%;
  place-content: space-between;
}

.talkButton {
  font-size: x-large;
  min-height: 60px;
  color: darkslategray;
  background-color: seashell;
  border-radius: 8px;
  font-family: 'Outfit', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding: 24px 8px;
  box-shadow: 5px 10px;
}
